---
layout: base
title: Page Two
navLinks: [{ text: "Home", url: "/", current: false },{ text: "Page Two", url: "pagetwo/", current: true},{ text: "Link", url: "/", current: false },{ text: "Link", url: "/", current: false }]
---



<section>
 <h2>Section One Title</h2>
 <h3>Subsection Title</h3>
 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
    aliquam amet delectus ducimus et harum hic illo illum magni nobis
    obcaecati officiis, perspiciatis porro possimus quaerat quam ullam
    veritatis voluptatem.</p>
</section>

<section>
 <h2>Section Two Title</h2>
 <h3>Subsection Title</h3>
 <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
    mollit anim id est laborum.</p>
</section>

<section>
 <h2>Section Three Title</h2>
 <h3>Subsection Title</h3>
 <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
    mollit anim id est laborum.</p>
 <ul class="button-list">
  <li><button type="button">Default</button></li>
  <li><button type="button" class="primary">Primary</button></li>
  <li><button type="button" class="secondary">Secondary</button></li>
  <li><button type="button" class="round">Rounded</button></li>
  <li><button type="button" class="outline">Outline</button></li>
  <!-- <li><button type="button" class="round primary">Rounded</button></li> -->
  <!-- <li><button type="button" class="round secondary">Rounded</button></li> -->
  <!-- <li><button type="button" class="round outline">Rounded</button></li> -->
  <!-- <li><button type="button" class="primary outline">Outline</button></li> -->
  <!-- <li><button type="button" class="secondary outline">Outline</button></li> -->
 </ul>
</section>
<section>
 <h2>Forms</h2>
 <form action="">
  <fieldset>
   <legend>Text Inputs</legend>
   
   <label for="text-input">Text Input Label</label>
   <input type="text" name="text-input" id="text-input" placeholder="Text Input Placeholder" inputmode="text">
 
   <label for="email-input">Email Input Label</label>
   <input type="email" name="email-input" id="email-input" placeholder="username@example.com" inputmode="email">
 
   <label for="password-input">Password</label>
   <input type="password" name="password-input" id="password-input" placeholder="••••••••" inputmode="text">
   
   <label for="phone-input">Phone Number Input</label>
   <input type="tel" name="phone-input" id="phone-input" inputmode="tel" placeholder="(123) 456-7890" maxlength="10" >
   
  </fieldset>
 </form>
</section>
